<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" type="text/css" href="css/main.css" media="screen" />

    <title>Open Source &#64; LexiFi</title>
  </head>

  <body>

    <header>
      <div class="container">
        <h1 id="logo"><img src="http://www.lexifi.com/sites/default/files/lexifi_logo.png" alt="LexiFi" /> </h1>
        <h1>Open Source at LexiFi</h1>
      </div>
    </header>

    <div class="container">
      <section id="main_content">

        {{ content }}

      </section>
    </div>
  </body>
</html>
